/*
Notes:
Oswald Font Family includes weights 200-700
*/

/* CSS HEX */
:root {
	/*
--kjg-black: #0e0c0d;
--kjg-dark-gray: #42383d;
--kjg-gray: #97878e;
--kjg-light-gray: #d0c8cc;e
--kjg-off-white: #f5f5f5;
--kjg-accent-1: #f7eb64; */

/* CSS HEX */
--kjg-dark: #211a1dff;
--kjg-light: #ebe9e1ff;
--kjg-accent-1: #e43d12ff; /* Orange */
--kjg-accent-2: #efb11dff; /* Yellow */
--kjg-accent-3: #99e1d9ff; /* Pale Blue */
}

/* Universal */
*{
  scroll-behavior: smooth;
}
* button{
  outline: none;
  padding: 0.3125em 0.9375em;
  border-radius: 0.3125em;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  background: var(--kjg-accent-1);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0 0.9375em 0.9375em 0.9375em;
}
* button:hover, button:focus{
  background-color: var(--kjg-accent-2);
  color: var(--kjg-dark);
}

/* Hyperlinks */
a:link{
  font-family: 'Oswald', san-serif;
  color: var(--kjg-accent-3);
  text-decoration: none;
}
a:hover, a:focus, a:visited:hover{
  cursor: pointer;
  color: var(--kjg-dark); */
  text-decoration: 0.0625em var(--kjg-dark) underline;
  transition: all 0.5s ease;
}
a:visited{
  color: var(--kjg-dark);
}
.a-button{
  outline: none;
  padding: 0.125em 0.3125em;
  border-radius: 0.3125em;
  text-align: center;
  font-size: 0.875em;
  font-weight: 500;
  background: var(--kjg-light);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0 0.9375em 0.9375em 0.9375em;
}
.a-button:hover, .a-button:focus{
  background-color: var(--kjg-accent-1);
  color: var(--kjg-dark);
}
.inactive{
  pointer-events: none;
  opacity: 0.5;
}
.invisible{
  display: none;
  pointer-events: none;
}

/* Body Container */
body{
  position: relative;
}

/* Main Container - Limits everything to 90% of viewport width */
main{
  width: 90%;
  position: relative;
  margin: auto;
  background-color: var(--kjg-accent-2);
}
.vline{
  position: absolute;
  top: 0;
  right: 8%;
  height: 90%;
  width: 0.0625em;
  background-color: var(--kjg-accent-3);
}

/* Section + Subcontainers */
section{
  display: block;
  margin: auto;
  padding: 1.875em 0.9375em;
  align-items: center;
  align-content: center;
  background-color: var(--kjg-accept-1);
}
.container{
  display: grid;
  grid-template-columns: 49% 49%;
  grid-auto-rows: auto;
  gap: 2% 2%;
  margin: 0 0.9375em 0 0.9375em;
  /*
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--kjg-accent-3);
  */
}

/* Section Specific Styling */

/* Subsection Building Blocks */
.header{
  background-color: --kjg-light;
}
.hline{
  width: 100%;
  margin: auto;
  margin-bottom: 0.9375em;
  height: 0.1875em;
  background-color: var(--kjg-accent-2);
}
.content {
	width: 100%;
}
.one-col{
  grid-column: auto / span 1;
}
.two-col{
  grid-column: auto / span 2;
}
.two-col-div{
	column-count: 2;
}
.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Text Options */
h1{
  font-family: 'Oswald', san-serif;
  font-size: 1.5em;
  font-weight: 500;
  text-align: right;
  padding: 0 0.9375em 0 0.9375em;
}
h2{
  font-family: 'Oswald', san-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-align: right;
  padding: 0 0.9375em 0 0.9375em;
}
h3{
  font-family: 'Oswald', san-serif;
  font-size: 1.125em;
  font-weight: 400;
  text-align: left;
  padding: 0 0.9375em 0 0.9375em;
}
p{
  font-family: 'Georgia', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: left;
  padding: 0 0.9375em 0 0.9375em;
}
.tab {
  margin-left: 1.875em;
}
li, li p{
  padding-left: 0;
  padding-right: 0.9375em;
}
.tools {
  font-family: 'Oswald', san-serif;
  font-size: 0.875em;
  font-weight: 400;
  text-align: left;
}
ul, ol{
  font-family: 'Oswald', san-serif;
  font-size: 1em;
  font-weight: 300;
}
.st{
  text-decoration: line-through;
  text-decoration-color: var(--kjg-dark);
}

/* Custom Scroll Bar - Check for capatibility*/
::-webkit-scrollbar {
    width: 0.625em;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: var(--kjg-dark);
    border-radius: 0.75em;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--kjg-accent-1);
}
.scroll-button{
  display: none;
  position: fixed;
  right: 2.5%;
  bottom: 5%;
}

/* Navigation Styling */
nav{
  position: relative;
  z-index: 998;
  transition: all 0.3s ease;
  margin: auto
  /* margin: 0 0.9375em; */
  background-color: #fff;
}
nav .navbar{
  display: grid;
  grid-template-columns: 2;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: var(--kjg-accent-3);
}
nav .navbar .branding{
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .navbar .branding .logo{
  font-size: 1.25em;
}
.navbar .branding .initials{
  color: var(--kjg-dark);
  text-decoration: none;
  font-family: 'Oswald', san-serif;
  font-size: 1em;
  font-weight: 300;
}
nav .navbar .menu{
  grid-column: 2;
  display: flex;
  gap: 3.75em;
  justify-content: flex-start;
  align-items: center;
}
nav .navbar .menu li{
  list-style: none;
}
.navbar .menu a{
  color: var(--kjg-dark);
  font-size: 1.125em;
  font-weight: 300;
  padding: 0.375em 0;
  transition: all 0.4s ease;
}
nav .navbar .currentLink{
  pointer-events: none;
  text-decoration: 3px var(--kjg-accent-1) underline;
}
.navbar .menu a:hover{
  color: var(--kjg-accent-2);
}

/* Side Navigation Menu Button */
nav .menu-btn{
  grid-column: 4;
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
.navbar .menu .cancel-btn{
  position: absolute;
  top: 40%;
  left: 65%;
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.5s ease;
  display: none;
}

/* Image & Icon Styling */
img{
  width: 100%;
  height:auto;
  object-position: center;
  object-fit: contain;
  margin: auto;
}
.med-img {
	width: 25%;
}
.round-frame{
  border-radius: 50%;
}

/* Miscellaneous */
.yellow{
  background-color: var(--kjg-accent-2);
}
.rotate{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Video */
.vimeo{
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: contain;
  margin: auto;
}

/*Collapsible Text*/
.collapsible{
  cursor: pointer;
  color: var(--kjg-dark);
  border: none;
  border-radius: 0.3125em;
  text-align: left;
  outline: none;
  margin-left: 0.3125em;
}
.collapsible:hover, .collapsible:focus{
  color: var(--kjg-dark);
}
.collapse-active{
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.collapse-content {
  display: none;
  overflow: hidden;
}

/* Hoverbox */
.box{
  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.3125em 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 0.9375em 0;
}
.box:hover, .box:focus{
  background: var(--kjg-dark);
  transition: all 0.5s ease;
}
.box .title{
  grid-row: 1;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
.box .subtitle{
  grid-row: 2;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.box .icon{
  grid-row: 2;
  font-size: 1.25em;
  color: var(--kjg-dark);
  transition: all 0.5s ease;
}
.box a:hover{
  color: #fff;
}

/* Hoverimage */
.h-box {
  /*
  width: 49%;
  margin: 0.5% 0.5% 0 0.5%;
  */
  position: relative;
  text-align: center;
  align-content: center;
  align-items: center;
}
.h-box img{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
}
.h-title{
  background: transparent;
  color: #000;
}
.h-description{
  background: transparent;
  color: #000;
}
.h-box:hover img{
  transition: all 0.5s ease-in;
  transition: all 0.5s ease-out;
  box-shadow: 0 0 0.3125em var(--kjg-accent-3);
  opacity: 0.1;
}
.h-box:hover .h-text{
  visibility: visible;
  opacity: 1;
  transition: opacity .5s ease-in;
  transition: opacity .5s ease-out;
}

/* Code iframes */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 0.875em;
  color: #333;
  background-color: #eee;
  border-radius: 0.1875em;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .875rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #eee;
}
pre code {
  padding: 0;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
}
.example {
    overflow: auto;
    zoom: 1;
    margin: 0.3125em 0.9375em 0.9375em 0.9375em;
    border: 1px var(--kjg-dark) solid;
    min-height: 400px;
}
.example pre {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    padding: 1em;
}
.example-container {
    width: 400;
    height: auto;
    float: left;
}
.cntrl {
    margin-top: 0.9375em;
}
.cntrl span{
    font-size: 0.875em;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    padding: 5px;
    background: var(--kjg-dark);
    color: var(--kjg-dark);
    cursor: pointer;
}
.play{
    margin-left: 0.9375em;
}
.example iframe{
  margin: 0;
  padding: 0;
}

/* Footer */
footer{
  padding: 0 0 30px 0;
  display: flex;
  gap: 3.75em;
  justify-content: center;
  align-items: center;
}
.icon a{
  color: var(--kjg-dark);
  font-size: 1.25em;
}
.icon a:hover{
  color: var(--kjg-accent-3);
}

/* Responsive Media Query */
@media (max-width: 1000px) {
  .empty{
    display: none;
  }
  .one-col{
    grid-column-start: span 2;
  }
  nav .navbar{
    padding: 0.625em 0px;
  }
  footer{
    justify-content: center;
  }
  .flex-box{
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  nav .navbar .menu{
    position: fixed;
    top: -100%;
    right: 0;
    background: #fff;
    border-radius: 0.3125em;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.625em 0;
    gap: 0.625em;
    transition: all 0.5s ease;
  }
  .navbar .active .menu{
    top: 0;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .vline{
    right: -2%;
  }
}
