/*
Notes:
Oswald Font Family includes weights 200-700
*/

/* CSS HEX */
:root {
--kjg-black: #0e0c0d;
--kjg-dark-gray: #42383d;
--kjg-gray: #97878e;
--kjg-light-gray: #d0c8cc;
--kjg-off-white: #f5f5f5;
--kjg-yellow: #f7eb64;
}

/* Universal */
*{
  scroll-behavior: smooth;
}
a:link{
  color: var(--kjg-gray);
  text-decoration: none;
}
a:hover, a:focus, a:visited:hover{
  cursor: pointer;
  color: var(--kjg-yellow);
  text-decoration: 1px var(--kjg-black) underline;
  transition: all 0.5s ease;
}
a:visited{
  color: var(--kjg-gray);
}
.inactive{
  pointer-events: none;
  opacity: 0.5;
}
* button{
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  background: var(--kjg-black);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0 15px 15px 15px;
}
* button:hover, button:focus{
  background-color: var(--kjg-yellow);
  color: var(--kjg-black);
}
.a-button{
  outline: none;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background: var(--kjg-off-white);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0 15px 15px 15px;
}
.a-button:hover, .a-button:focus{
  background-color: var(--kjg-yellow);
  color: var(--kjg-black);
}

/* Main Container - Limits everything within to width of 90% */
main{
  width: 90%;
  margin: auto;
  border-right: 1px var(--kjg-rich-black) solid;
}

/* Section + Subcontainers */
section{
  display: block;
  border-radius: 10px;
  margin: 0 0 30px 0;
  padding: 15px 0 15px 0;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 15px 15px;
  margin: 0 15px 0 15px;
}

/* Subsection Building Blocks */
.landing{
  width: 100%;
  height: 700px;
}
.header{
  width: 100%;
  padding: 0;
  border-bottom: 3px var(--kjg-yellow) solid;
}
.content{
  width: 100%;
}
.empty{
  width: 100%;
}
.hline{
  width: 25%;
  margin: auto;
  margin-bottom: 15px;
  height: 3px;
  background: var(--kjg-yellow);
}
.one-col{
  grid-column: span 1;
}
.two-col{
  grid-column: span 2;
}
.three-col{
  grid-column: span 3;
}
.four-col{
  grid-column: span 4;
}
.one-row{
  grid-row: span 1;
}
.two-row{
  grid-row: span 2;
}
.three-row{
  grid-row: span 3;
}
.four-row{
  grid-row: span 4;
}
.five-row{
  grid-row: span 5;
}
.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Text Options */
.land-text{
  font-family: 'Oswald', san-serif;
  font-size: 50px;
  font-weight: 300;
  padding: 300px 0 ;
}
h1{
  grid-column: span 4;
  font-family: 'Oswald', san-serif;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  padding: 0 15px 0 15px;
}
h2{
  font-family: 'Oswald', san-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  padding: 0 15px 0 15px;
}
h3{
  font-family: 'Oswald', san-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 0 15px 0 15px;
}
p{
  font-family: 'Georgia', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  padding: 0 15px 0 15px;
}
.desc-box{
  background: var(--kjg-light-gray);
  border-radius: 5px;
  padding: 10px 15px;
}
li, li p{
  padding-left: 0;
  padding-right: 15px;
}
.descriptive h1, .descriptive h2,
.descriptive h3, .descriptive p{
  padding: 0;
}
.tools {
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
ul, ol{
  font-family: 'Oswald', san-serif;
  font-size: 16px;
  font-weight: 300;
}
a:link{
  font-family: 'Oswald', san-serif;
}
.st{
  text-decoration: line-through;
  text-decoration-color: var(--kjg-rich-black);
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--kjg-black);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--roman-silver);
}
.scroll-button{
  display: none;
}

/* Image & Icon Styling */
img{
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
}
.tiny-img{
  max-width: 50px;
}
.sm-img{
  max-width: 200px;
}
.med-img{
  max-width: 400px;
}
.lrg-img{
  max-width: 600px;
}
.huge-img{
  max-width: 800px;
}
iframe{
  border: none;
  object-position: center;
  object-fit: cover;
}
.icon a{
  color: var(--kjg-black);
  font-size: 20px;
}
.icon a:hover{
  color: var(--kjg-yellow);
}
.labelled-icon{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.labelled-icon a{
  color: var(--kjg-black);
}
.labelled-icon a:hover{
  color: var(--kjg-yellow);
}
.labelled-icon .label{
  grid-column: 1;
  font-size: 16px;
  font-weight: 300;
}
.labelled-icon .icon{
  grid-column: 2;
  font-size: 20px;
}

/* Navigation Styling */
nav{
  position: relative;
  z-index: 998;
  transition: all 0.3s ease;
  margin: 15px;
}
nav .navbar{
  display: grid;
  grid-template-columns: 2;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .branding{
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .navbar .branding .logo{
  font-size: 20px;
}
.navbar .branding .initials a{
  color: var(--kjg-black);
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
}
.navbar .branding .initials a:hover{
  color: var(--kjg-yellow);
}
nav .navbar .menu{
  grid-column: 2;
  display: flex;
  gap: 60px;
  justify-content: flex-start;
  align-items: center;
}
nav .navbar .menu li{
  list-style: none;
}
.navbar .menu a{
  color: var(--kjg-black);
  font-size: 18px;
  font-weight: 300;
  padding: 6px 0;
  transition: all 0.4s ease;
}
nav .navbar .currentLink{
  pointer-events: none;
  text-decoration: 3px var(--kjg-yellow) underline;
}
.navbar .menu a:hover{
  color: var(--kjg-yellow);
}

/* Side Navigation Menu Button */
nav .menu-btn{
  grid-column: 4;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
.navbar .menu .cancel-btn{
  position: absolute;
  top: 40%;
  left: 65%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: none;
}

/* Word Animation - Again, thank you Neill.*/
#identifier {
  display: inline-block;
  width: 75px;
  text-align: center;
}

#identifier::after {
  content: "designer";
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;

  -webkit-animation: 'swap' 10s infinite;
   -moz-animation: 'swap' 10s infinite;
    -ms-animation: 'swap' 10s infinite;
     -o-animation: 'swap' 10s infinite;
        animation: 'swap' 10s infinite;
}
    @-webkit-keyframes swap {
      0% {content: "designer"; opacity: 1;}
      5% {opacity: 0;}
      15% {opacity: 0;}
      20% {opacity: 1;}
      25% {content: "engineer"; opacity: 1;}
      30% {opacity: 0;}
      40% {opacity: 0;}
      45% {opacity: 1;}
      50% {content: "educator"; opacity: 1;}
      55% {opacity: 0;}
      65% {opacity: 0;}
      70% {opacity: 1;}
      75% {content: "coder"; opacity: 1;}
      80% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "designer"; opacity: 1;}
    }
    @-moz-keyframes swap {
      0% {content: "designer"; opacity: 1;}
      5% {opacity: 0;}
      15% {opacity: 0;}
      20% {opacity: 1;}
      25% {content: "engineer"; opacity: 1;}
      30% {opacity: 0;}
      40% {opacity: 0;}
      45% {opacity: 1;}
      50% {content: "educator"; opacity: 1;}
      55% {opacity: 0;}
      65% {opacity: 0;}
      70% {opacity: 1;}
      75% {content: "coder"; opacity: 1;}
      80% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "designer"; opacity: 1;}
    }
    @-ms-keyframes swap {
      0% {content: "designer"; opacity: 1;}
      5% {opacity: 0;}
      15% {opacity: 0;}
      20% {opacity: 1;}
      25% {content: "engineer"; opacity: 1;}
      30% {opacity: 0;}
      40% {opacity: 0;}
      45% {opacity: 1;}
      50% {content: "educator"; opacity: 1;}
      55% {opacity: 0;}
      65% {opacity: 0;}
      70% {opacity: 1;}
      75% {content: "coder"; opacity: 1;}
      80% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "designer"; opacity: 1;}
    }
    @-o-keyframes swap {
      0% {content: "designer"; opacity: 1;}
      5% {opacity: 0;}
      15% {opacity: 0;}
      20% {opacity: 1;}
      25% {content: "engineer"; opacity: 1;}
      30% {opacity: 0;}
      40% {opacity: 0;}
      45% {opacity: 1;}
      50% {content: "educator"; opacity: 1;}
      55% {opacity: 0;}
      65% {opacity: 0;}
      70% {opacity: 1;}
      75% {content: "coder"; opacity: 1;}
      80% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "designer"; opacity: 1;}
    }
    @keyframes swap {
      0% {content: "designer"; opacity: 1;}
      5% {opacity: 0;}
      15% {opacity: 0;}
      20% {opacity: 1;}
      25% {content: "engineer"; opacity: 1;}
      30% {opacity: 0;}
      40% {opacity: 0;}
      45% {opacity: 1;}
      50% {content: "educator"; opacity: 1;}
      55% {opacity: 0;}
      65% {opacity: 0;}
      70% {opacity: 1;}
      75% {content: "coder"; opacity: 1;}
      80% {opacity: 0;}
      90% {opacity: 0;}
      95% {opacity: 1;}
      100% {content: "designer"; opacity: 1;}
    }

/*Collapsible Text*/
.collapsible{
  cursor: pointer;
  color: var(--kjg-light-gray);
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  margin-left: 5px;
}
.collapsible:hover, .collapsible:focus{
  color: var(--kjg-rich-black);
}
.collapse-active{
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.collapse-content {
  display: none;
  overflow: hidden;
}

/* Slideshow - Thank you, Neill */
/* Currently only supports ONE slideshow per page */
.portSlides {
  display: none;
  justify-content: center;
  padding: 15px 15px 0 15px;
  gap: 5px;
  flex-wrap: none;
  align-content: center;
  align-items: center;
  height: 100%;
}
.caption {
  flex-shrink: 1.5;
  text-align: justify;
  margin-left: 15px;
  margin-right: 45px;
}
.proj-emph {
  color: var(--kjg-black);
  font-weight: 500;
  font-size: 13px;
  text-align: right;
}
.slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.imgSlide {
  border: 1px var(--kjg-black) solid;
  border-radius: 10px;
  padding: 0;
  max-width: 800px;
  height: 450px;
  object-fit: contain;
}
#vidSlide {
  width: 90%;
  margin: 0px auto 0px auto;
  display: block;
}
.slidenav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.prev, .next{
  cursor: pointer;
  padding: 10px 0;
  color: var(--kjg-light-gray);
  font-size: 20px;
  transition: 0.5s ease;
  user-select: none;
  margin: 0 30px;
}
.prev:hover, .prev:focus,
.next:hover, .next:focus{
  text-decoration: none;
  color: var(--kjg-black);
  -webkit-text-stroke: 1px var(--kjg-black);
}
.next:hover{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:visited, .next:visited{
  color: var(--kjg-light-gray);
  -webkit-text-stroke: 1px var(--kjg-light-gray);
}
.dot {
  cursor: pointer;
  height: 2px;
  width: 15px;
  margin: 0px 2px;
  background-color: var(--kjg-light-gray);
  border: 1px var(--kjg-light-gray) solid;
  border-radius: 0;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.active, .dot:hover {
  background-color: var(--kjg-black);
  border: 1px var(--kjg-black) solid;
}
.fade {
  -webkit-animation: 'fade' 0.5s;
  -moz-animation: 'fade' 0.5s;
  -ms-animation: 'fade' 0.5s;
  -o-animation: 'fade' 0.5s;
  animation: 'fade' 0.5s;
}
    @-webkit-keyframes fade {
      0% {opacity: 0.4;}
      100% {opacity: 1;}
    }
    @-moz-keyframes fade {
      0% {opacity: 0.4;}
      100% {opacity: 1;}
    }
    @-ms-keyframes fade {
      0% {opacity: 0.4;}
      100% {opacity: 1;}
    }
    @-o-keyframes fade {
      0% {opacity: 0.4;}
      100% {opacity: 1;}
    }
    @keyframes fade {
      0% {opacity: 0.4;}
      100% {opacity: 1;}
    }

/* Hoverbox */
.box{
  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 15px 0;
}
.box:hover, .box:focus{
  background: var(--kjg-yellow);
  transition: all 0.5s ease;
}
.box .icon{
  grid-row: 1;
  font-size: 20px;
  color: var(--kjg-black);
  transition: all 0.5s ease;
}
.box .title{
  grid-row: 2;
  text-align: center;
}

/* Code iframes */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #333;
  background-color: #eee;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #eee;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.example {
    overflow: auto;
    zoom: 1;
    margin: 5px 15px 15px 15px;
    border: 1px var(--kjg-light-gray) solid;
    min-height: 400px;
}
.example pre {
    margin: 0;
    padding: 0;
    font-size: 12px;
    padding: 1em;
}
.example-container {
    width: 400;
    height: auto;
    float: left;
}
.cntrl {
    margin-top: 15px;
}
.cntrl span{
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    padding: 5px;
    background: var(--kjg-light-gray);
    color: var(--kjg-black);
    cursor: pointer;
}
.play{
    margin-left: 15px;
}
.example iframe{
  margin: 0;
  padding: 0;
}

/* Footer */
footer{
  padding: 0 0 30px 0;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

/* Section Specific Styling */
.test{
}
.work{
}
.other{
}
.about{
}
.resume{
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  .imgSlide, .huge-img{
    max-width: 600px;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .one-col{
    grid-column-start: span 2;
  }
  .two-col{
    grid-column-start: span 4;
  }
  .three-col{
    grid-column-start: span 2;
  }
  nav .navbar{
  }
  footer{
    justify-content: center;
  }
  .portSlides{
    flex-wrap: wrap;
  }
  .caption{
    margin-right: 15px;
  }
  .imgSlide, .huge-img{
    max-width: 350px;
    height: auto;
  }
  .flex-box{
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .one-col{
    grid-column-start: span 4;
  }
  .three-col{
    grid-column-start: span 4;
  }
  .imgSlide, .med-img, .lrg-img, .huge-img{
    max-width: 350px;
    height: auto;
  }
}

@media (max-width: 750px) {
  nav .navbar .menu{
    position: fixed;
    top: -100%;
    right: 0;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
    transition: all 0.5s ease;
  }
  .navbar .active .menu{
    top: 0;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
}

@media (max-width: 500px){
}
