/*
Notes:
Oswald Font Family includes weights 200-700
*/

/* CSS HEX */
:root {
--kjg-black: #0e0c0d;
--kjg-dark-gray: #42383d;
--kjg-gray: #97878e;
--kjg-light-gray: #d0c8cc;
--kjg-off-white: #f5f5f5;
--kjg-yellow: #f7eb64;
}

/* Universal */
*{
  scroll-behavior: smooth;
}
a:link{
  color: var(--kjg-dark-gray);
  text-decoration: none;
}
a:hover, a:focus, a:visited:hover{
  cursor: pointer;
  /* color: var(--kjg-yellow); */
  /* text-decoration: 1px var(--kjg-black) underline; */
  transition: all 0.5s ease;
}
a:visited{
  color: var(--kjg-dark-gray);
}
.inactive{
  pointer-events: none;
  opacity: 0.5;
}
.invisible{
  display: none;
  pointer-events: none;
}
* button{
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  background: var(--kjg-black);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0 15px 15px 15px;
}
* button:hover, button:focus{
  background-color: var(--kjg-yellow);
  color: var(--kjg-black);
}
.a-button{
  outline: none;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 0.875em;
  font-weight: 500;
  background: var(--kjg-off-white);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 0 15px 15px 15px;
}
.a-button:hover, .a-button:focus{
  background-color: var(--kjg-yellow);
  color: var(--kjg-black);
}

/* Main Container - Limits everything to 90% of viewport width */
main{
  width: 80vw;
  margin: auto;
}
.vline{
  position: fixed;
  top: 0;
  right: 8%;
  height: 100vh;
  width: 1px;
  background: var(--kjg-black);
}

/* Section + Subcontainers */
section{
  display: block;
  border-radius: 10px;
  margin: 0;
  padding: 15px 0 15px 0;
  /* background: var(--kjg-yellow); */
}
.container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
  gap: 15px 15px;
  margin: 0 15px 0 15px;
}

/* Subsection Building Blocks */
.header{
  background-color: #fff;
}
.hline{
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  height: 3px;
  background: var(--kjg-yellow);
}
.one-col{
  grid-column: span 1;
}
.two-col{
  grid-column: span 2;
}
.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Text Options */
.land-text{
  font-family: 'Oswald', san-serif;
  font-size: 1.5em;
  font-weight: 300;
}
h1{
  font-family: 'Oswald', san-serif;
  font-size: 1.5em;
  font-weight: 500;
  text-align: right;
  padding: 0 15px 0 15px;
}
h2{
  font-family: 'Oswald', san-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-align: right;
  padding: 0 15px 0 15px;
}
h3{
  font-family: 'Oswald', san-serif;
  font-size: 1.125em;
  font-weight: 400;
  text-align: left;
  padding: 0 15px 0 15px;
}
p{
  font-family: 'Georgia', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: justify;
  padding: 0 15px 0 15px;
}
.desc-box{
  background: var(--kjg-light-gray);
  border-radius: 5px;
  padding: 10px 15px;
}
.tab {
  margin-left: 30px;
}
li, li p{
  padding-left: 0;
  padding-right: 15px;
}
.descriptive h1, .descriptive h2,
.descriptive h3, .descriptive p{
  padding: 0;
}
.tools {
  font-style: italic;
  font-size: 0.875em;
  font-weight: 400;
  text-align: left;
}
ul, ol{
  font-family: 'Oswald', san-serif;
  font-size: 1em;
  font-weight: 300;
}
a:link{
  font-family: 'Oswald', san-serif;
}
.st{
  text-decoration: line-through;
  text-decoration-color: var(--kjg-black);
}

/* Custom Scroll Bar - Check for capatibility*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--kjg-black);
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--roman-silver);
}
.scroll-button{
  display: none;
  position: fixed;
  right: 2.5%;
  bottom: 5%;
}

/* Image & Icon Styling */
img{
  width: 90%;
  height:auto;
  object-position: center;
  object-fit: contain;
  padding: 5%;
  margin: auto;
}
.round-frame{
  border-radius: 50%;
}

iframe{
  border: none;
  object-position: center;
  object-fit: cover;
  padding: 15px;
}
.icon a{
  color: var(--kjg-black);
  font-size: 1.25em;
}
.icon a:hover{
  color: var(--kjg-yellow);
}
.labelled-icon{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.labelled-icon a{
  color: var(--kjg-black);
}
.labelled-icon a:hover{
  color: var(--kjg-yellow);
}
.labelled-icon .label{
  grid-column: 1;
  font-size: 1em;
  font-weight: 300;
}
.labelled-icon .icon{
  grid-column: 2;
  font-size: 1.25em;
}
.yellow{
  background: var(--kjg-yellow);
}
.rotate{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Video */
.vimeo{
  width: 100%;
  height: auto;
}

/* Navigation Styling */
nav{
  position: relative;
  z-index: 998;
  transition: all 0.3s ease;
  margin: 0 15px;
  background-color: #fff;
}
nav .navbar{
  display: grid;
  grid-template-columns: 2;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .branding{
  grid-column: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .navbar .branding .logo{
  font-size: 1.25em;
}
.navbar .branding .initials{
  color: var(--kjg-black);
  text-decoration: none;
  font-family: 'Oswald', san-serif;
  font-size: 1em;
  font-weight: 300;
}
nav .navbar .menu{
  grid-column: 2;
  display: flex;
  gap: 60px;
  justify-content: flex-start;
  align-items: center;
}
nav .navbar .menu li{
  list-style: none;
}
.navbar .menu a{
  color: var(--kjg-black);
  font-size: 1.125em;
  font-weight: 300;
  padding: 6px 0;
  transition: all 0.4s ease;
}
nav .navbar .currentLink{
  pointer-events: none;
  text-decoration: 3px var(--kjg-yellow) underline;
}
.navbar .menu a:hover{
  color: var(--kjg-yellow);
}

/* Side Navigation Menu Button */
nav .menu-btn{
  grid-column: 4;
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
.navbar .menu .cancel-btn{
  position: absolute;
  top: 40%;
  left: 65%;
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.5s ease;
  display: none;
}

/*Collapsible Text*/
.collapsible{
  cursor: pointer;
  color: var(--kjg-light-gray);
  border: none;
  border-radius: 5px;
  text-align: left;
  outline: none;
  margin-left: 5px;
}
.collapsible:hover, .collapsible:focus{
  color: var(--kjg-black);
}
.collapse-active{
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.collapse-content {
  display: none;
  overflow: hidden;
}

/* Hoverbox */
.box{
  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 15px 0;
}
.box:hover, .box:focus{
  background: var(--kjg-light-gray);
  transition: all 0.5s ease;
}
.box .title{
  grid-row: 1;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
.box .subtitle{
  grid-row: 2;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.box .icon{
  grid-row: 2;
  font-size: 1.25em;
  color: var(--kjg-black);
  transition: all 0.5s ease;
}
.box a:hover{
  color: #fff;
}

/* Hoverimage */
.h-box {
  width: 100%;
  position: relative;
  text-align: center;
  align-content: center;
  align-items: center;
}
.h-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  background: transparent;
  color: #000;
  visibility: hidden;
  opacity: 0;
}
.h-description{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: #000;
  visibility: hidden;
  opacity: 0;
}
.h-box:hover img{
  transition: all 0.5s ease-in;
  transition: all 0.5s ease-out;
  transform: scale(0.95);
  opacity: 0.5;
}
.h-box:hover .h-title,
.h-box:hover .h-description{
  visibility: visible;
  opacity: 1;
  transition: opacity .5s ease-in;
  transition: opacity .5s ease-out;
}
/* Code iframes */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 0.875em;
  color: #333;
  background-color: #eee;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .875rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #eee;
}
pre code {
  padding: 0;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
}
.example {
    overflow: auto;
    zoom: 1;
    margin: 5px 15px 15px 15px;
    border: 1px var(--kjg-light-gray) solid;
    min-height: 400px;
}
.example pre {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    padding: 1em;
}
.example-container {
    width: 400;
    height: auto;
    float: left;
}
.cntrl {
    margin-top: 15px;
}
.cntrl span{
    font-size: 0.875em;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    padding: 5px;
    background: var(--kjg-light-gray);
    color: var(--kjg-black);
    cursor: pointer;
}
.play{
    margin-left: 15px;
}
.example iframe{
  margin: 0;
  padding: 0;
}

/* Footer */
footer{
  padding: 0 0 30px 0;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

/* Section Specific Styling */
.test{
}
.work{
}
.other{
}
.about{
}
.resume{
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  .imgSlide, .huge-img{
    max-width: 600px;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .empty{
    display: none;
  }
  .one-col{
    grid-column-start: span 2;
  }
  .two-col{
    grid-column-start: span 4;
  }
  nav .navbar{
    padding: 10px 0px;
  }
  footer{
    justify-content: center;
  }
  .flex-box{
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {
  .one-col{
    grid-column-start: span 4;
  }
}

@media (max-width: 750px) {
  nav .navbar .menu{
    position: fixed;
    top: -100%;
    right: 0;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    gap: 10px;
    transition: all 0.5s ease;
  }
  .navbar .active .menu{
    top: 0;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .vline{
    right: 7%;
  }
}

@media (max-width: 500px){
}
